In [1]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [3]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [5]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i = 1,2,3,4,5,

In [19]:
txt = "Hello, welcome, to my world, kiran"

x = txt.index("kiran")

print(x)

29

In [23]:
txt = "Hello, welcome to my world."

x = txt.index("c")

print(x)

10

In [31]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["watermelon","kiran"]
print(thislist)

['apple', 'watermelon', 'kiran', 'cherry']

In [27]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [93]:
i = [1,2,3,4,5]


print (i)

[1, 2, 3, 4, 5]

In [263]:
i = 1
while i < 6:
  print(i)
  i += 1 
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [149]:
i = ["apple", "banana", "cherry""watermelon","kiran"]
print(i[2])

watermelon