In [11]:
import pandas as pd 
import numpy as np

In [35]:
a = [1,2,4,5,7]
vehicle = pd.Series(a)
print(vehicle)

0    1
1    2
2    4
3    5
4    7
dtype: int64

In [33]:
import pandas as pd 
data = [1,2,3,4,5,6]
info = pd.Series(data)
info

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [43]:
data = [('jack',27),('tom',20),('jerry',40)]
result = pd.DataFrame(data,columns=['name','mark'])
print(result)

    name  mark
0   jack    27
1    tom    20
2  jerry    40

In [88]:
df = pd.read_csv(r"C:\Users\yogap\OneDrive\Desktop\top tech\3st day\text dataset.csv")

In [90]:
df.describe()

        prep_time   cook_time
count  255.000000  255.000000
mean    31.105882   34.529412
std     72.554409   48.265650
min     -1.000000   -1.000000
25%     10.000000   20.000000
50%     10.000000   30.000000
75%     20.000000   40.000000
max    500.000000  720.000000

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   number,23,27,64,3563,  3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

In [98]:
df['prep_time']

0      45
1      80
2      15
3      15
4      15
       ..
250     5
251    20
252    -1
253    20
254    -1
Name: prep_time, Length: 255, dtype: int64

In [102]:
df.loc[6]

name                                                         Jalebi
ingredients       Maida, corn flour, baking soda, vinegar, curd,...
diet                                                     vegetarian
prep_time                                                        10
cook_time                                                        50
flavor_profile                                                sweet
course                                                      dessert
state                                                 Uttar Pradesh
region                                                        North
Name: 6, dtype: object

In [112]:
df = df.set_index('prep_time')

In [114]:
df

,name,ingredients,cook_time,flavor_profile,course,state,region
prep_time,,,,,,,
45,Balu shahi,"Maida flour, yogurt, oil, sugar",25,sweet,dessert,West Bengal,East
80,Boondi,"Gram flour, ghee, sugar",30,sweet,dessert,Rajasthan,West
15,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",60,sweet,dessert,Punjab,North
15,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",30,sweet,dessert,Rajasthan,West
15,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",40,sweet,dessert,West Bengal,East
...,...,...,...,...,...,...,...
5,Til Pitha,"Glutinous rice, black sesame seeds, gur",30,sweet,dessert,Assam,North East
20,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",60,sweet,dessert,Goa,West
-1,Shufta,"Cottage cheese, dry dates, dried rose petals, ...",-1,sweet,dessert,Jammu & Kashmir,North
20,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",45,sweet,dessert,Madhya Pradesh,Central
-1,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",-1,sweet,dessert,Goa,West

In [116]:
df.shape

(255, 7)