In [3]:
int function(int, int[]);

int main()
{
    int i, a = 20;
    int arr[5] = { 10, 20, 30, 40, 50 };

    a = function(a, &arr[0]);

    printf("value of a is %d\n", a);
    for (i = 0; i < 5; i++) {
        printf("value of arr[%d] is %d\n", i, arr[i]);
    }

    return 0;
}

int function(int a, int* arr)
{
    int i;
    a = a + 20;

    arr[0] = arr[0] + 50;
    arr[1] = arr[1] + 50;
    arr[2] = arr[2] + 50;
    arr[3] = arr[3] + 50;
    arr[4] = arr[4] + 50;

    return a;
}

SyntaxError: invalid syntax (426992068.py, line 1)

In [5]:
int function(int, int[]);

int main()
{
    int i, a = 20;
    int arr[5] = { 10, 20, 30, 40, 50 };

SyntaxError: invalid syntax (1455901159.py, line 1)

In [9]:
#include <stdio.h>
#include <string.h>

int function(int, int[]);

int main()
{
    int i, a = 20;
    int arr[5] = { 10, 20, 30, 40, 50 };

    a = function(a, &arr[0]);

    printf("value of a is %d\n", a);
    for (i = 0; i < 5; i++) {
        printf("value of arr[%d] is %d\n", i, arr[i]);
    }

    return 0;
}

int function(int a, int* arr)
{
    int i;
    a = a + 20;

    arr[0] = arr[0] + 50;
    arr[1] = arr[1] + 50;
    arr[2] = arr[2] + 50;
    arr[3] = arr[3] + 50;
    arr[4] = arr[4] + 50;

    return a;
}

SyntaxError: invalid syntax (1438913999.py, line 4)

In [33]:


include <stdio.h>


void swap(int* x, int* y)
{
    int temp = *x;
    *x = *y;
    *y = temp;
}

// Driver Code
int main()
{
    // Declaring Integer
    int x = 1, y = 5;
    printf("Before Swapping: x:%d , y:%d\n", x, y);

    // Calling the function
    swap(&x, &y);
    printf("After Swapping: x:%d , y:%d\n", x, y);

    return 0;
}

SyntaxError: invalid syntax (3088281843.py, line 1)

In [39]:
#include <stdio.h>


int sum(int x, int y)
{
    int c;
    c = x + y;

    // Integer value retured
    return c;
}

// Driver Code
int main()
{
    // Integer Declared
    int a = 3, b = 2;

    // Function Called
    int c = sum(a, b);
    print("Sum of %d and %d : %d", a, b, c);

    return 0;
}

SyntaxError: invalid syntax (2771044039.py, line 4)

In [5]:
a=input("Enter your first name: ")
b=input("Enter your second name: ")
print (a,b)

Enter your first name:  kiran
Enter your second name:  kumar

kiran kumar

In [9]:
list = ["a","b","c","d","e","f","g","h"]
list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']